
#banner {
  background-image: url("https://res.cloudinary.com/dqlvehu5z/image/upload/v1586253885/waterlily/zoltan-tasi-vHnVtLK8rCc-unsplash_z8gkta.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
    h1, h4 {
      color: white;
      margin-left: 20px;
    }
}

.homepage-header{
    margin-right: 6%;
}

.section-title {
  padding-top: 40px;
  color: $wl-grey;
}

hr{
  width: 30%;
}

.home-categories h2{
  color: #343a40;
}

.about-us{
  background-color: #E4EBC8;
  text-align: center;
  color: #343a40;
  padding-bottom: 40px;
}

#shop-photo {
  width: 40%;
}

.booking-link{
  border: 1px solid #CDCDCD !important;
}

.about-text, .booking-link{
  background-color: white;
  border-radius: 5px;
  p{
    margin: 0px;
    padding: 15px;
  }
}

.about-text {
  padding: 10px;
}

.homepage-photo {
  margin-bottom: 30px;
}

.home-card-container{
  max-width: 1500px;
  align-self: center;
}

.suggestions{
  list-style: none;
  position: absolute;
  z-index: 1;
}

.search-complete{
  background-color: white;
  width: 300px;
  margin-left: -26px;
  padding: 5px;
  a {
    text-decoration: none;
    color: $wl-grey;
  }
  &:hover{
    background-color: $wl-lightgreen;
  }
}

#search-data{
  display: flex;
}
