// Specific CSS for your home-page
#banner {
  background-image: url("https://res.cloudinary.com/dqlvehu5z/image/upload/v1586253885/waterlily/zoltan-tasi-vHnVtLK8rCc-unsplash_z8gkta.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
    h1{
      color: white;
    }
}
