.new-voucher{
  background-color: white;
  margin: 30px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.voucher_message{
  display: block;
  width: 100%;
}
#voucher_message{
  min-height: 150px;
}
