<tr>
  <td class="footer" style="margin: 8px 0 0; text-align: center; width: 100%; font-family: 'Quicksand', 'Helvetica', 'sans-serif';">
    <table style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; max-width: 580px; width:100%;">
      <tr style = "text-align: center, width: 100%">
        <td >
          <%= link_to "www.water-lily.co.uk" do %>
            <%= image_tag "https://res.cloudinary.com/dqlvehu5z/image/upload/v1586180073/waterlily/WATERLILY_logo_No_BG_OL_copy_uaqkxk.png", style: "width:auto; height:200px;" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <p>16 Timberhill</p>
          <p>Norwich</p>
          <p>NR1 3LB</p>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.facebook.com/WaterlilyTanningandBeauty/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/Waterlily_Salon" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/waterlily_tanningandbeauty/?hl=en"target="_blank" ><i class="fab fa-instagram"></i></a>
        </td>
      </tr>
    </table>
  </td>
</tr>
