<tr>
    <td style="padding:10px;text-align:center;font-size:12px;background-color:#343a40;color:#cccccc;">
      <p style="margin:0;">Waterlily Tanning & Beauty</p>
      <p style="margin:0;">16 Timberhill</p>
      <p style="margin:0;">Norwich</p>
      <p style="margin:0;">NR1 3LB</p>
      <p style="margin:0;">01603 613506</p>
    </td>
</tr>
