<tr>
    <td style="padding:40px 30px 30px 30px;text-align:center;font-size:24px;font-weight:bold;">
      <%= link_to "www.water-lily.co.uk" do %>
        <%= image_tag "https://res.cloudinary.com/dqlvehu5z/image/upload/v1586180073/waterlily/WATERLILY_logo_No_BG_OL_copy_uaqkxk.png", style: "width:80%;max-width:500px;height:auto;border:none;text-decoration:none;color:#ffffff;" %>
      <% end %>
    </td>
</tr>
