<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new gift voucher has been purchased!</h1>
    <p> Log into the waterlily admin area to see the voucher</p>
  </body>
</html>
