<tr>
  <td style="padding:30px;background-color:#ffffff;">
    <p style="text-align:center">Dear <%= @name %>,</p>
    <p style="text-align:center">Many thanks for contacting us.</p>
    <p style="text-align:center">Please note that between 29th April and 6th May, we will have very limited access to e-mails due to staff holidays.</p>
    <p style="text-align:center">If your query is urgent or if you would like to book an appointment, please call us on 01603 613506.</p>
    <p style="text-align:center">Kind regards,</p>
    <p style="text-align:center">Michelle</p>
    <br>
    <br>
  </td>
</tr>
