<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your gift voucher purchase!</h1>
    <p>Follow <a href="https://www.water-lily.co.uk/vouchers">this link</a> to view your voucher:</p>
  </body>
</html>
