<tr>
  <td>Thanks for your gift voucher purchase!</td>
</tr>
<tr>
  <td>Your voucher is valid for 6 months, and can either be used for the treatment specified, or any treatment with the same value.
  </td>
</tr>
