<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your gift voucher purchase!</h1>
    <p>Your voucher is valid for 6 months, and can either be used for the treatment specified, or any treatment with the same value</p>
    <p>Follow <a href="https://www.water-lily.co.uk/vouchers">this link</a> to view your voucher:</p>
    <br>
    <p>Your Waterlily Team</p>
  </body>
</html>
