<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag("https://res.cloudinary.com/dqlvehu5z/image/upload/v1586446047/waterlily/12795009_1055610467793081_305965606528968728_o_ubf4rt.jpg",
        class: "carousel-image", crop: :fill) %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("https://res.cloudinary.com/dqlvehu5z/image/upload/v1586781317/treatment_room_gsyflf.jpg",
        class: "carousel-image", crop: :fill) %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
