<div id="new-lamps">
  <p class="p-3"><strong>NEW:</strong> We are excited to have recently installed new <a href="https://www.vdlhapro.com/en/beauty-and-wellness/professional-tanning/models/model:luxura-v6.htm" class ="text-link">Hapro Luxura V6</a> Tanning units. These are fitted with your favourite Cosmedico 10k100 3UVB and Rubino infrared lamps for a deep, long-lasting tan!</p>
</div>
