
.opening-times{
  background-color: white;
}

#bulletin{
  background-color: #FFFFE0;
  text-align: center;
  margin-bottom: 0;
  height: 40px;
  padding-top: 10px;
}

#opening-header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $wl-khaki;
  color: white;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 56px;
}
.opening-times{
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: $wl-grey;
  h5{
    font-weight: bold;
  }
}

.opening-time-content{
  padding: 10px;
  margin-bottom: 10px;
}

#contact-page-content{
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

.test
{
width: auto;
height: auto;
}
