.show-header {
  margin-bottom: 20px;
  color: $wl-grey;
}

.wl-show {
  min-height: 700px;
}

.show-description {
  text-align: center;
}

.show-card {
  border: 1px solid #CDCDCD;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 30px;
  background-color: white;
  img {
    border-radius: 5px;
  }
  hr {
    margin: 15px;
  }
}
