.voucher-index{
  padding: 30px;
    max-width: 100%;
  h1{
    margin-bottom: 30px;
  }
}

.voucher-card{
  background-color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #CDCDCD !important;
}

.voucher-card-text{
  width: 300px;
}

.active-voucher{
  color: $wl-khaki;
  font-weight: bold;
}

.used-voucher{
  color: $wl-grey;
}
