.new-voucher{
  background-image: linear-gradient(-225deg, rgba(133, 108, 139, 0.3), rgba(133, 108, 139, 0.3)), url("https://res.cloudinary.com/dqlvehu5z/image/upload/v1586253885/waterlily/zoltan-tasi-vHnVtLK8rCc-unsplash_z8gkta.jpg");
  margin: 30px;
  padding: 20px;
  height: 600px;
  border-radius: 5px;
  background-size: cover;
  background-position: 10% 1%;
  color: white;
}

.voucher_message{
  display: block;
  width: 100%;
}
#voucher_message{
  min-height: 150px;
}

.voucher-info{
  display: block;
  max-width: 500px;
}
