.wl_form {
  margin-top: 20px;
}

.wl-new {
  h2{
    margin-top: 20px;
  }
}

.search-form {
  height: 38px;
  border-radius: 5px;
  margin-left: 15px;
  width: 300px;
}

@media only screen and (max-width: 768px) {
  .search-form, .search-complete {
    width: 250px!important;
  }}

.search-form-all {
  height: 38px;
  position: relative;
}

input:focus {
    outline: none !important;
    border-color: $wl-khaki;

}
textarea:focus {
  outline: none !important;
  border-color: $wl-khaki;
}

.hidden {
  display: none;
}

.contact-form, .treatment-form {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
}

.treatment-form{
  padding: 20px;
  width: 500px;
  margin-bottom: 20px;
}

.contact-form-content {
  border: 1px solid #CDCDCD !important;
  width: 100%;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contact-form-header {
  background-color: $wl-khaki;
  color: white;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#new_contact {
  width: 100%;
  padding: 10px;

}

#contact_name, #contact_email, #contact_message {
  width: 100%;
  align-self: flex-start;
}

#contact_message {
  height: 400px;
}

.contact-form-content label{
  color: $wl-grey;
}
