.navbar-lewagon {
  justify-content: space-between;
  background: black;

  p{
    color: white;
  }

}

.navbar-dark .navbar-nav .nav-link {
  margin-right: 20px;
  color: #EDF6C5;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
