.navbar-lewagon {
  justify-content: space-between;
  background: black;
  p{
    color: white;
  }
}

.navbar-dark .navbar-nav .nav-link {
  margin-right: 20px;
  color: #EDF6C5;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 250px;
}

.nav-item-com {
  list-style-type: none;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  a{
    text-decoration: none;
    color: #343a40;
  }
  a:hover{
    color: #8f99a3;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $wl-khaki;
  }
