.wl-table {
  width: 100%;
  margin-top: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  thead {
  background-color: $wl-khaki;
  color: white;
  }
  th{
    font-weight: normal;
    padding: 10px;
  }
  td{
    padding: 15px;
    background-color: white;
  }
  .time-td {
    width: 150px;
  }
}

.tab-content {
  width: 80%;
}

.fa-info-circle {
  color: $wl-khaki;
  &:hover{
    opacity: 60%;
  }
}
