// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "pages/show";

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  min-height: 1000px;
  background-color: #F0F0F0;
}

@import "datatables";

a.page-link {
  text-decoration: none;
  color: $wl-grey;
  &:hover{
    text-decoration: none;
    color: $wl-darkgreen;
  }
}
