// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "contacts/new";
@import "payments/new";
@import "vouchers/new";
@import "vouchers/show";
@import "vouchers/index";
@import "vouchers/edit";
@import "categories/show";
@import 'mapbox-gl/dist/mapbox-gl';

html, body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  min-height: 100%;
  background-color: #F0F0F0;
}

@import "datatables";
@import "pdf";

a.page-link {
  text-decoration: none;
  color: $wl-grey;
  &:hover{
    text-decoration: none;
    color: $wl-darkgreen;
  }
}
