<div class="container wl-new">
  <div class="new-voucher">
    <div class="d-flex flex-column align-items-center">
      <div class="p-10">
        <h2 class="text-center">Buy a Gift Voucher</h2>
        <p class="voucher-info text-center">The voucher will be available for you to download or print after purchase. A confirmation of purchase will be sent to the e-mail address given.</p>
        <%= simple_form_for [@voucher], html: { class: "wl_form"} do |f| %>
        <div class="d-flex flex-column align-items-center">
          <%= f.input :treatment_id,
          collection: Treatment.active.all %>
          <%= f.input :message, placeholder: "Write a message for the recipient"%>
          <%= f.submit "Buy Voucher", class: "waterlily-btn p-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
